. {
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e6e6;
  margin: 0;
}

.container {
  width: 50%;
  margin: auto;
  padding: 2rem 3rem;
  background-color: #f3f3f3;
  border-radius: 8px;
}

.topBox {
  background-color: rgb(240, 237, 233);
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
}

p {
  line-height: 0.2rem;
}
label {
  font-size: 1.2rem;
}

.labels {
  margin: 1rem;
}

.selectBox {
  width: 30%;
  height: 100%;
}

.description {
  color: rgb(105, 105, 103);
}

.button2 {
  background-color: #008cba;
}
